[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.bak
*.old
*.log
*.vs/

# Lưu ý tránh commit file quá nặng hoặc không cần thiết
*.mp4
*.wav
*.psd
*.unitypackage
